
h1 {
    color:olivedrab;
    margin-top: 35px;

}
img {
    margin-top: 30px;
    width: 400px;
    padding: 10px;
    border: 1.5px solid skyblue;

}

.container {
    width: 500px;
    margin: auto;
    border: 2px sold red;
    text-align: center;
}

ol {
    text-align: left;
    margin-left: 20px;
}